@charset "utf-8";

@import 'mixins';

/* Project files… */
@import 'fonts';
@import 'settings';

/* Generated… */
@import 'sprites';

/* Plugins */

/* Primary styles */

/**
 * Fix Wordfence Security styles
 */
body[class *= "span"] {
  float: none;
  margin-left: 0;
}

.acf-field-wysiwyg.-height_low {
  $editor_height_low: 100px;

  iframe {
    height: #{$editor_height_low} !important;
    min-height: #{$editor_height_low} !important;
  }

  .wp-editor-area {
    height: #{$editor_height_low + 22px} !important;
  }
}
