@charset 'utf-8';

@use "sass:color";
@use 'settings';

.login h1 a {
	width: settings.$logo-width;
	height: settings.$logo-height;
	background-image: url(settings.$logo-image-url);
	background-size: 100%;
}

.login .message,
.login .success {
	border-color: settings.$color-main;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
	border-color: settings.$color-main;

	&:focus {
		border-color: settings.$color-main;
		box-shadow: 0 0 0 1px settings.$color-main;
	}
}

.wp-core-ui .button-secondary {
	color: settings.$color-main;
}

.wp-core-ui .button-primary {
	border-color: settings.$color-main !important;
	background: settings.$color-main !important;

	&:hover {
		border-color: color.adjust(settings.$color-main, $lightness: 5%) !important;
		background: color.adjust(settings.$color-main, $lightness: 5%) !important;
	}

	&.focus,
	&:focus {
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px settings.$color-main;
	}
}
