@charset "utf-8";

@import 'other/normalize';
@import 'other/h5b';

@import 'mixins';

/**
 * Settings
 */
@import 'fonts';
@import 'settings';

/**
 * Plugins
 */


/* ==|== primary styles =====================================================
	Authors: %Author Name%
	========================================================================== */

/**
 * Framework Common Libraries
 */
@import 'other/g-blocks';

/**
 * Project only code
 */
@import 'other/common';
@import 'other/plugins';
@import 'blocks/text';

/**
 * Blocks
 */
@import 'blocks/bottomNavigation';
@import 'blocks/developerCopyright';
@import 'blocks/mainNavigation';
@import 'blocks/siteCopyright';
@import 'blocks/siteFooter';
@import 'blocks/siteHeader';
@import 'blocks/siteLogo';
@import 'blocks/siteSearch';

/**
 * WordPress only code
 */
@import 'other/wpcf7';
@import 'other/widgets';
@import 'other/comments';
@import 'blocks/breadcrumbs';
@import 'blocks/pagination';
@import 'blocks/pageNav';

/**
 * Print styles
 */
@import 'other/print';
