/**
 * @section breadcrumbs
 */
.l-breadcrumbs {

}
.b-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;

    &::before {
      content: ' | ';
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &.-state_current {

    }
  }

  &__link {
    display: block;
  }

  &__name {

  }
}
