/**
 * @section Contact Form 7
 */
.wpcf7 {
  position: relative;

  .ajax-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    margin: -32px 0 0 -32px;
    width: 64px;
    height: 64px;
    background-image: url('../img/loading-ico.gif');
  }

  .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
  }

  form {
    .wpcf7-response-output {
      margin: .4em;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
    }

    &.init .wpcf7-response-output,
    &.resetting .wpcf7-response-output,
    &.submitting .wpcf7-response-output {
      display: none;
    }

    &.sent .wpcf7-response-output {
      color: #398f14;
    }

    &.failed .wpcf7-response-output,
    &.aborted .wpcf7-response-output {
      color: #f00;
    }

    &.spam .wpcf7-response-output {
      color: #ffa500;
    }

    &.invalid .wpcf7-response-output,
    &.unaccepted .wpcf7-response-output {
      color: #f00;
    }

    &.submitting .ajax-loader {
      visibility: visible;
    }
  }
}

.wpcf7-form-control-wrap {
  position: relative;
}

.wpcf7-not-valid-tip {
  display: none;
  color: #f00;
  font-size: 12px;
  font-weight: normal;

  .use-floating-validation-tip & {
    position: relative;
    top: -2ex;
    left: 1em;
    z-index: 100;
    border: 1px solid #dc3232;
    background: #fff;
    padding: .2em .8em;
    width: 24em;
  }
}

.wpcf7-select:invalid + .jq-selectbox__select,
.wpcf7-not-valid {
  border: 1px solid #f00 !important;
}

.wpcf7-list-item {
  margin-left: .5em;

  &:first-child {
    margin-left: 0;
  }
}
